{% load staticfiles %}
<!--DOCTYPE html -->
<html>

<head>
  <title>{% block head_title %}Logbook{% endblock head_title %}</title>
  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' type='text/css' />
</head>

<body>
  <div style="padding-bottom: 30px;">
  <nav class="navbar navbar-fixed-top" style="background-color: #777777; position: fixed;">
    <div class="container-fluid">
      <a href="/logbook/" class="btn btn-default navbar-btn" role="button" style="margin-right: 2%;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
      <a href="/logbook/" class="btn btn-default navbar-btn" role="button" style="margin-right: 2%;">Sign In</a>
      <a href="/logbook/create" class="btn btn-default navbar-btn" role="button" style="margin-right: 2%;">Create Log</a>
    </div>
  </nav>
</div>
  {% include "messages_display.html" %}
  <div class='container'>
    {% block content %}

    {% endblock content %}
  </div>
</body>

</html>
